.search{
    margin-top: 1vw;        
    margin-left: 45vw !important;
}

.center{
    display: flex;
    align-content: center;
}

.login{
    width: 10vw;
    margin-left: 45vw !important;
    margin-top: 15vw;
}

.profile{
    width: 30vw;
    margin-left: 35vw !important;
    margin-top: 10vw;
}
.spacer{
    margin:1vw;
}

.card{
    margin-top: 1vw;
    border-radius: 3px;
    border-width: 3px !important;
    width: 30vw;
    margin-left: 35vw !important;
    height: 30vw !important;
}

.item-name{
    margin-left: 20vw !important;

}
