.header {
    background-color: rgb(170, 89, 146);
    text-align: center;
    padding: 10px 0;
    color: white;
}

.login-container {
    margin: 20vh auto 0;
    width: 30vw;
    height: 80vh;
}

.login-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.about-container {
    text-align: center;
}
.about-content {
    max-width: 30vw;
    margin: 0 auto;
}

.shop-container {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.shop-box {
    width: 45%;
}

.shop-box-left {
    text-align: right;
    margin-right: 5vw;
}

.shop-box-right {
    text-align: left;
    width: 30%;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}
.home-box2 {
    max-width: 30vw;
    flex: 1;
    margin-top: 10vh;
}

.home-button{
    margin: 10px 0;
    background-color: #32e0c9;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 10px 20px;
    width: 10vw;
}
.home-button:hover {
    background-color: #2cb8a5;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.account-content {
    max-width: 30vw;
    flex: 1;
}
.account-button{
    margin: 10px 0;
    background-color: #32e0c9;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 10px 20px;
    width: 10vw;
}
.account-button:hover {
    background-color: #2cb8a5;
}

.form-group input[type="submit"] {
    background-color: #32e0c9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #2cb8a5;
}

.input-btn {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav {
    background-color: rgb(255, 224, 230);
    border-radius: 30px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: lightpink;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(170, 89, 146);
    text-align: center;
    padding: 10px 0;
    color: white;
}
.image {
    max-width: 20%;
    max-height: 20%;
}