.search{
    width: 10vw;
    height: 2vw;
}

.center{
    display: flex;
    align-content: center;
}

.login{
    width: 10vw;
    margin-left: 45vw !important;
    margin-top: 15vw;
}

.profile{
    width: 30vw;
    margin-left: 35vw !important;
    margin-top: 10vw;
}
.spacer{
    margin:1vw;
}
